@import '../../../styles/settings.scss';

body {
  background-color: $color-gray;
}

.root { 
    .container {
      margin: 0.8rem auto;
      padding: 1rem;
     // max-width: 1040px;
      max-width: 90em;
      min-height: 100vh;
      display: flex;
      flex-direction: column;    
      .switcher {
        margin: 0 auto;
      }
      .header {
        padding-bottom: $base-size;
      }
    }
  }
